html {
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    @include roboto(400);
    background-color: $colorWhite;
    -webkit-font-smoothing: antialiased;
}

div,
section,
header,
ul,
li,
form,
a {
	box-sizing: border-box;
}

.layout {
	@extend %dfc;
	height: 100vh;
}