// colors
$colorWhite:        #ffffff;
$colorLight:        #F2F6FC;

$colorBlue:         #21317A;
$colorBlue2:        #354591;
$colorBlue3:        #495cff;
$colorBlueDark:     #1B275F;
$colorBlueLight:    #e9efff;

$colorGray:         #979797;
$colorGrayDark:     #3b4150;
$colorGray2:        #949baf;

$colorBgPink:       #f79ce6;